<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css">
    <style>
        a {
            text-decoration: none;
        }

        p {
            font-size: 25px;
        }

        .quickmenu, ul, li {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        .quickmenu {
            position: absolute;
            width: 180px;
            top: 50%;
            margin-top: -50px;
            left: 30px;
            background: #fff;
            box-shadow: -2px 2px grey;
        }

        .quickmenu ul {
            position: relative;
            float: left;
            width: 100%;
            display: inline-block;
            *display: inline;
            border: 1px solid #ddd;
        }

        .quickmenu ul li {
            float: left;
            width: 100%;
            border-bottom: 1px solid #ddd;
            text-align: center;
            display: inline-block;
            *display: inline;
        }

        .quickmenu ul li a {
            position: relative;
            float: left;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #999;
            font-size: 9.5pt;
        }

        .quickmenu ul li a:hover {
            color: #000;
        }

        .quickmenu ul li:last-child {
            border-bottom: 0;
        }

        .tb {
            height: 150px;
            border: 1px solid;
            line-height: 70px;
            font-size: 13px;
        }

        .tb > div {
            border-top: 1px solid;
        }

        table {
            font-weight: bold;
        }

        caption {
            caption-side: top;
        }

        td {
            width: 12.5%;
        }

        .tdnum {
            border-right: 1px solid;
            font-size: 20px;
        }

        .btn {
            background-color: #fcfcfc;
            border-radius: 0%;
            border: #000 1px solid;
            color: #000;
        }

        img {
            height: 100px;
        }

        #myform fieldset {
            display: inline-block;
            direction: rtl;
            border: 0;
        }

        #myform fieldset legend {
            text-align: right;
        }

        #myform input[type=radio] {
            display: none;
        }

        #myform label {
            font-size: 3em;
            color: transparent;
            text-shadow: 0 0 0 #f0f0f0;
        }

        #myform input[type=radio]:checked ~ label {
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }

        #reviewContents {
            width: 100%;
            height: 150px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1.5px #D3D3D3;
            border-radius: 5px;
            font-size: 16px;
            resize: none;
        }

        .star-rating {
            display: flex;
            align-items: center;
            margin-top: 0;
        }

        .star-rating label {
            margin-right: 5px;
            font-size: 24px;
        }
    </style>
</th:block>

<div layout:fragment="content" style="margin-bottom: 1100px;">
    <div class="jumbotron" style="height: 100%">
        <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor" class="bi bi-house-door-fill"
                 viewBox="0 0 16 16">
                <path
                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
            </svg>
            <a href="/" style="text-decoration: none;">홈</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor" class="bi bi-chevron-compact-right"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg>
            <a href="/" style="text-decoration: none;">마이페이지</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor" class="bi bi-chevron-compact-right"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg>
            <a href="/" style="text-decoration: none;">낙찰 현황</a> <br> <br>
        </div>
    </div>

    <div class="wrap">
        <div class="container"
             style="width: 100%; height: 150px; border: 1px solid;">
            <div
                    style="width: 25%; height: 150px; text-align: center; line-height: 150px; font-size: 30px; float: left;"
                    th:text="|${member.nickname}님 안녕하세요!|">
            </div>

            <div class="container text-center">
                <div class="row" style="height: 150px; border-left: 1px solid;">
                    <div class="col" style="margin-top: 25px;">
                        <a href="/member/mypage/sentquery">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60"
                                 height="60" fill="currentColor" class="bi bi-justify"
                                 viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                <p>내 문의사항</p>
                            </svg>
                        </a>
                    </div>

                    <div class="col" style="margin-top: 25px;">
                        <a href="/member/mypage/coupon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60"
                                 height="60" fill="currentColor" class="bi bi-ticket-perforated"
                                 viewBox="0 0 16 16">
                                <path
                                        d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z"/>
                                <path
                                        d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z"/>
                            </svg>
                            <p>보유 쿠폰</p>
                        </a>
                    </div>

                    <div class="col" style="margin-top: 25px;">
                        <a href="/member/mypage/todayview">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60"
                                 height="60" fill="currentColor" class="bi bi-collection"
                                 viewBox="0 0 16 16">
                                <path
                                        d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                            </svg>
                            <p>오늘 본 상품</p>
                        </a>
                    </div>

                    <div class="col" style="margin-top: 25px;">
                        <a href="/member/mypage/receivedquery">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60"
                                 height="60" fill="currentColor" class="bi bi-chat-dots"
                                 viewBox="0 0 16 16">
                                <path
                                        d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                <path
                                        d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                            </svg>
                            <p>받은 문의내역</p>
                        </a>
                    </div>
                    <div class="col" style="margin-top: 25px;">
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60"
                                 height="60" fill="currentColor" class="bi bi-heart"
                                 viewBox="0 0 16 16">
                                <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            </svg>
                            <p>찜 목록</p>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-hover" th:each="auction : ${successBiddingList}"
                   style="border: 1px solid; margin: auto 0; text-align: center; margin-top: 50px;">
                <caption>공개입찰경매</caption>
                <thead>
                <th style="border-right: 1px solid;">대표이미지</th>
                <th style="border-right: 1px solid;">물품번호</th>
                <th style="border-right: 1px solid;">물품명</th>
                <th style="border-right: 1px solid;">시작가</th>
                <th style="border-right: 1px solid;">낙찰가</th>
                <th style="border-right: 1px solid;">입찰</th>
                <th style="border-right: 1px solid;">마감일</th>
                <th style="border-right: 1px solid;">비고</th>
                </thead>
                <tbody>
                <tr style="height: 100px; line-height: 100px;">
                    <td class=tdnum><img src="/images/thumb-bananas.png"
                                         class="tab-image"></td>
                    <td class=tdnum th:text="${auction.auction.auctionNo}">5</td>
                    <td class=tdnum th:text="${auction.auction.item.itemName}">바나나</td>
                    <td class=tdnum th:text="${auction.auction.auctionStartPrice}">1500원</td>
                    <td class=tdnum th:text="${auction.auction.auctionNowPrice}">2500원</td>
                    <td class=tdnum th:text="${auction.auction.biddingCount}">5</td>
                    <td class=tdnum
                        th:text="${#temporals.format(auction.auction.auctionEndTime, 'yyyy년 MM월 dd일 HH시 mm분')}">
                        2023/08/15
                    </td>
                    <td class=tdnum>
                        <div class="btn-group-vertical" role="group"
                             aria-label="Vertical button group">
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'PENDING'"
                                    th:onclick="'javascript:update(' + ${auction.successBiddingNo} + ', \'OK\')'">낙찰확인
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'PENDING'"
                                    th:onclick="'javascript:update(' + ${auction.successBiddingNo} + ', \'NO\')'">낙찰포기
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" th:if="${auction.bidStatus.toString()} == 'OK'">판매자
                                정보보기
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'OK'"
                                    th:onclick="'javascript:update(' + ${auction.successBiddingNo} + ', \'CONFIRM\')'">입금확인요청
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'OK'"
                                    >판매자 입금확인중
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'NO'">삭제하기
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'SHIPPING'"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal2">배송정보확인
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'SHIPPING'"
                                    th:onclick="'javascript:update(' + ${auction.successBiddingNo} + ', \'END\')'">인수확인
                            </button>
                            <button type="button" class="btn btn-primary"
                                    th:if="${auction.bidStatus.toString()} == 'END'" data-bs-toggle="modal"
                                    data-bs-target="#reviewModal">경매후기등록
                            </button>
                            <!-- 리뷰모달 -->
                            <div class="modal fade" id="reviewModal" tabindex="-1"
                                 aria-labelledby="reviewModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form method="post" th:action="'/auction/review/add/'+${auction.auction.auctionNo}" th:object="${reviewFormDto}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">리뷰작성</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">

                                                    <div class="form-group row col-sm-top" style="text-align: center;">
                                                        <label class="col-sm-2">닉네임</label>
                                                        <div class="col-sm-10" style="width: 60%;">
                                                            <input type="text" name="pname" class="form-control" th:value="${member.nickname}"
                                                                   disabled/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row col-sm-12"
                                                         style="text-align: center; padding-bottom: 20px;">
                                                        <label class="col-sm-2">별점</label>
                                                        <div class="col-sm-10 star-rating" id="myform">
                                                            <fieldset>
                                                                <input type="radio" th:field="*{auctionReviewSocre}" value="1" id="rate1"><label
                                                                    for="rate1">★</label>
                                                                <input type="radio" th:field="*{auctionReviewSocre}" value="2" id="rate2"><label
                                                                    for="rate2">★</label>
                                                                <input type="radio" th:field="*{auctionReviewSocre}" value="3" id="rate3"><label
                                                                    for="rate3">★</label>
                                                                <input type="radio" th:field="*{auctionReviewSocre}" value="4" id="rate4"><label
                                                                    for="rate4">★</label>
                                                                <input type="radio" th:field="*{auctionReviewSocre}" value="5" id="rate5"><label
                                                                    for="rate5">★</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row col-sm-12">
                                                        <label class="col-sm-12">리뷰제목</label>
                                                        <input type="text" th:field="*{auctionReviewTitle}">
                                                    </div>
                                                    <div class="form-group row col-sm-12" style="text-align: center;">
                                                        <label class="col-sm-12">리뷰내용</label>
                                                        <div class="col-sm-12" style="width: 100%;">
                                                         <textarea name="description" class="form-control"
                                                         style="line-height: 100px;" th:field="*{auctionReviewDetail}"></textarea>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">등록취소</button>
                                                <button type="submit" class="btn btn-primary">등록</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 리뷰모달 end -->

<!--                            판매자 정보 모달-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            이름 : <span th:text="${auction.member.name}"></span> <br>
                                            휴대폰번호 : <span th:text="${auction.member.phone}"></span> <br>
                                            계좌 : <span th:text="${auction.member.bank.bankName}"></span>
                                            <span th:text="${auction.member.bankAddress}"></span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel2">배송정보</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <span th:text="${auction.shippingNo}"></span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            판매자 정보 모달-->

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


            <div class="d-flex justify-content-center">
                <nav
                        th:with="start=${(successBiddingList.number/maxPage)*maxPage + 1}
			                 ,end=(${(successBiddingList.totalPages == 0) ? 1 : (start + (maxPage - 1) < successBiddingList.totalPages ? start + (maxPage - 1) : successBiddingList.totalPages)})"
                        aria-label="Page navigation example">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item" th:classappend="${successBiddingList.first}?'disabled'">
                            <a class="page-link"
                               th:href="@{'/member/mypage/successfulbid/' +  ${successBiddingList.number - 1}}">이전</a>
                        </li>

                        <li class="page-item"
                            th:each="page: ${#numbers.sequence(start, end)}"
                            th:classappend="${successBiddingList.number eq page - 1}?'active':''">
                            <a
                                    class="page-link" th:inline="text"
                                    th:href="@{'/member/mypage/successfulbid/' + ${page - 1}}">[[${page}]]</a>
                        </li>

                        <li class="page-item" th:classappend="${successBiddingList.last}?'disabled'">
                            <a class="page-link"
                               th:href="@{'/member/mypage/successfulbid/' +  ${successBiddingList.number + 1}}">다음</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

    <div class="quickmenu">
        <ul>
            <li><a href="/member/mypage">내 정보 </a></li>
            <li><a href="/member/mypage/bidding">입찰 현황</a></li>
            <li><a href="/member/mypage/successfulbid">낙찰 현황</a></li>
            <li><a href="/member/mypage/myauction">내 물품 확인</a></li>
            <li><a href="/member/mypage/sentquery">내 문의내역</a></li>
            <li><a href="/member/mypage/receivedquery">받은문의내역</a></li>
            <li><a href="/member/mypage/coupon">쿠폰함</a></li>
            <li><a href="/member/mypage/like">찜목록</a></li>
            <li><a href="/member/mypage/modify/checkpwd">내정보 수정</a></li>
            <li><a href="/member/mypage/modify/password">비밀번호 변경</a></li>
            <li><a href="/member/mypage/outmember">회원탈퇴</a></li>
        </ul>
    </div>


</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        let errorMessage = [[${errorMessage}]];
        if(errorMessage != null) {
            alert(errorMessage);
        }

        $(document).ready(function () {
            var currentPosition = parseInt($(".quickmenu").css("top"));
            $(window).scroll(function () {
                var position = $(window).scrollTop();
                $(".quickmenu").stop().animate({
                    "top": position + currentPosition + "px"
                }, 1000);
            });
        });

        function update(no, status) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = '/member/mypage/updateStatus';
            var method = "POST";

            $.ajax({
                url: url,
                type: method,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: JSON.stringify({
                    no: no,
                    status: status
                }),
                contentType: "application/json",
                success: function (result, status, jqXHR) {
                    // 요청 성공 처리
                    alert('등록 완료');
                    location.href = document.referrer;
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요.');
                        location.href = '/member/login';
                    } else {
                        //alert(jqXHR.responseText);
                        console.log(jqXHR.responseText);
                        location.href = document.referrer;
                    }

                }
            });
        }
    </script>

</th:block>

</html>