<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
table {
	border-collapse: collapse;
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 100%;
} /*이중선 제거*/
.item_box2 {
	width: 800px;
}

.item_box {
	width: 800px;
}

.item_box2 button {
	margin: 0px 20px;
}

.reverseForm th {
	width: 150px;
	height: 50px;
	text-align: center;
	background-color: #D9D9D9;
}

.reverseForm td {
	padding: 20px;
	font-size: 15px;
}

.view_count {
	text-align: end;
	margin: 0px 20px;
}

.box_period {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.reverseForm {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item_box2 {
	margin: 20px 0px;
}

#container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

#myTab {
	margin: 0px 100px;
}

.tab-content {
	margin: 0px 100px;
	padding: 30px;
}

.tab-content h2 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.wishful {
	background-color: #D9D9D9;
	height: 150px;
}

.form-group {
	display: flex;
	justify-content: end;
	margin: 0px 130px;
}

.join_customer th {
	background-color: #D9D9D9;
	text-align: center;
}

.join_customer td {
	text-align: center;
}

.sublogo {
	margin: 0px 30px;
}

.pagination {
	margin: 25px 0px;
	justify-content: end;
}
#myform fieldset {
	display: inline-block;
	direction: rtl;
	border: 0;
}

#myform fieldset legend {
	text-align: right;
}

#myform input[type=radio] {
	display: none;
}

#myform label {
	font-size: 3em;
	color: transparent;
	text-shadow: 0 0 0 #f0f0f0;
}

#myform input[type=radio]:checked ~label {
	text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#reviewContents {
	width: 100%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 1.5px #D3D3D3;
	border-radius: 5px;
	font-size: 16px;
	resize: none;
}

.review-message {
	margin: 10px 0;
	/* 여백을 위 아래 10px, 좌 우 0px로 조절 */
	font-size: 16px;
	/* 필요한 폰트 사이즈로 조절 */
}

.custom-pagination .page-item .page-link {
	padding: 8px 12px;
	/* 원하는 패딩 값으로 조절 */
	line-height: 1;
	/* 텍스트 센터 정렬을 위한 라인 높이 조절 */
	margin-bottom: 15px;
}

  .col-sm-2 {
            background-color: #D9D9D9;
            font-weight: 900;
            color: black;
            text-align: center;
            border: 1px solid gray;
            border-left: 0px;
            border-right: 0px;
            line-height: 39px;
            width: 140px;
        }

        .col-sm-3 {
            border: 1px solid gray;
            border-left: 0px;
            width: 450px;
            line-height: 35px;
        }
</style>

</th:block>

<div layout:fragment="content">
	<div class="sublogo">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
			fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
 				<path
				d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
			</svg>
		<a href="/static" style="text-decoration: none;">홈</a>
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
			fill="currentColor" class="bi bi-chevron-compact-right"
			viewBox="0 0 16 16">
 			 <path fill-rule="evenodd"
				d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
			</svg>
		<a href="/static" style="text-decoration: none;">역경매</a>
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
			fill="currentColor" class="bi bi-chevron-compact-right"
			viewBox="0 0 16 16">
 			 <path fill-rule="evenodd"
				d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
			</svg>
		<a href="/static" style="text-decoration: none;">카테고리</a>
	</div>




	<div class="view_count">
		<span th:text="|조회수: ${reverseBidding.reverseBiddingCount}|"></span>
	</div>
	<div class="box_period">
		<span th:text="|남은시간 : ${remainTime}|"></span>
	</div>
	<section class="reverseForm">
		<div class="item_box">

				<div class="row">
					<label class="col-sm-2">물품 이름</label>
					<div class="col-sm-3" th:text="${reverseBidding.reverseBiddingTitle}"></div>
				</div>
				<div class="row">
					<label class="col-sm-2">경매 기간</label>
					<div
						class="col-sm-3" th:text="${#temporals.format(reverseBidding.reverseBiddingExpireDate,'yyyy-MM-dd HH:mm')}">

					</div>
				</div>
				<div class="row">
					<label class="col-sm-2">예상가</label>
					<div class="col-sm-3" th:text="${reverseBidding.hopePrice}"></div>
				</div>
				<div class="row">
					<label class="col-sm-2">진행 상태</label>
					<div class="col-sm-3"
						th:if="${reverseBidding.ReversebidAuctionStatus.toString().equals('PROGRESS')}">진행중</div>
					<div class="col-sm-3"
						th:if="${reverseBidding.ReversebidAuctionStatus.toString().equals('END')}">마감</div>
				</div>


		</div>


				<div class="form-group row" style="height: 72px;">
                                <label class="col-sm-2" style="line-height: 71px;">판매자
                                    닉네임</label>
                                <div class="col-sm-3" style="line-height: 71px; display: flex;">
                                    <div style="width: 50px; text-align: center;"
                                         th:text="${reverseBidding.member.nickname}"></div>
                                    <div class="col-sm-offset-2" style="margin-left: 20px;">
                                        <button type="button" class="btn btn-primary"
                                                style="border-radius: inherit; width: 110px;"
                                                data-bs-toggle="modal" data-bs-target="#reviewModal">
                                            후기
                                        </button>
                                    </div>


                                  <!-- 모달 창 -->
									<div class="modal fade" id="reviewModal" tabindex="-1"
										aria-labelledby="reviewModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg" style="--bs-modal-width: 1200px !important;">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="reviewModalLabel"
														th:text="|${reverseBidding.member.nickname}님의 후기 리스트|"></h5>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body ">
													<p class="review-message" th:text="후기가 + '&nbsp' + ${reviewCount} + 건 + '&nbsp' +검색되었습니다."></p>
													<table class="table">
														<thead>
															<tr class="review">																
																<th scope="col" style="width: 250px;">물품명</th>
																<th scope="col">리뷰</th>
																<th scope="col" style="width: 300px;">별점</th>
																<th scope="col" style="border-right: 0px; width: 150px;">작성자</th>

															</tr>
														</thead>
														<tbody>
															<tr th:each="auctionReview:${auctionReview}" class="review" id="review">
																
																<td th:text=${auctionReview.auction.item.itemName}></td>
																<td th:text=${auctionReview.auctionReviewTitle}></td>
																<td >
																	<!-- 별점 -->
																	<form class="mb-3" name="myform" id="myform"
																		method="post" style="margin-bottom: 0px !important;">
																		<fieldset>
																			<input type="radio" name="reviewStar" value="5" id="rate1" th:if="${auctionReview.auctionReviewScore.toString() == '5'}" checked ><label for="rate1">★</label>
																			<input type="radio" name="reviewStar" value="4" id="rate2" th:if="${auctionReview.auctionReviewScore.toString() == '4'}" checked ><label for="rate2">★</label>
																			<input type="radio" name="reviewStar" value="3" id="rate3" th:if="${auctionReview.auctionReviewScore.toString() == '3'}" checked ><label for="rate3">★</label>
																			<input type="radio" name="reviewStar" value="2" id="rate4" th:if="${auctionReview.auctionReviewScore.toString() == '2'}" checked ><label for="rate4">★</label>
																			<input type="radio" name="reviewStar" value="1" id="rate5" th:if="${auctionReview.auctionReviewScore.toString() == '1'}" checked ><label for="rate5">★</label>
																		</fieldset>
																	</form>

																</td>
															
																<td scope="row" th:text=${auctionReview.member.nickname} style="border-right: 0px;"></td>
															</tr>
														</tbody>
													</table>
												</div>

												<!-- 페이징 버튼 -->
												<div class="d-flex justify-content-center"
													style="margin-top: 1%;">
													<nav
														th:with="start=${(auctionReview.number/maxPage)*maxPage + 1}
			                									 ,end=(${(auctionReview.totalPages == 0) ? 1 : (start + (maxPage - 1) < auctionReview.totalPages ? start + (maxPage - 1) : auctionReview.totalPages)})"
														aria-label="Page navigation example">
														<ul class="pagination d-flex justify-content-center">
															<li class="page-item"
																th:each="page: ${#numbers.sequence(start, start)}"
																th:classappend="${auctionReview.number eq page }?'active':''"><a
																class="page-link"
																th:onclick="'loadPage(' + ${0} +')'">이전</a>
															</li>

															<li class="page-item"
																th:each="page: ${#numbers.sequence(start, end)}"
																th:classappend="${auctionReview.number eq page + 1}?'active':''">
																<a class="page-link" th:inline="text"
																th:onclick="'loadPage(' + ${page - 1} +')'">[[${page}]]</a>
															</li>

															<li class="page-item"
																th:each="page: ${#numbers.sequence(end, end)}"
																th:classappend="${auctionReview.number eq page - 1}?'active':''"><a
																class="page-link"
																th:onclick="'loadPage(' + ${auctionReview.totalPages - 1} +')'">다음</a>
															</li>
														</ul>
													</nav>
												</div>

												<div class="modal-footer d-flex justify-content-center">
													<button type="button" class="btn btn-secondary "
														data-bs-dismiss="modal">닫기</button>

												</div>
											</div>
										</div>
									</div>


                                    <div class="col-sm-offset-2" style="margin-left: 20px;">
                                        <input type="submit" class="btn btn-primary" value="신고"
                                               style="border-radius: inherit; width: 110px;"
                                               onclick="location.href='/auction/report';"/>
                                    </div>
                                </div>
                            </div>




	</section>



	<div class="tab col-mb-8" id="bthtab">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-bs-toggle="tab"
					data-bs-target="#home" type="button" role="tab"
					aria-controls="home" aria-selected="true">구매자 희망사항</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
					data-bs-target="#profile" type="button" role="tab"
					aria-controls="profile" aria-selected="false">참가 현황</button>
			</li>

		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel"
				aria-labelledby="home-tab">
				<div class="wishful">
					<span th:text="${reverseBidding.reverseBiddingDetail}"></span>
				</div>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel"
				aria-labelledby="profile-tab">
				<h2>참가자</h2>
				<div class="join_customer">
					<table>
						<tr>
							<th scope="col">번호</th>
							<th>제목</th>
							<th>제시금액</th>
							<th>등록자</th>
							<th >낙찰</th>
						</tr>
						<tr th:each="reverseBiddingJoinList:${reverseBiddingJoinList}">
							<td th:text=${reverseBiddingJoinList.reverseBiddingJoinNo}></td>
							<td style="color: blue; cursor: pointer;" th:text=${reverseBiddingJoinList.item.itemName} th:onclick="'javascript:moveEnterDetail(' + ${reverseBiddingJoinList.reverseBiddingJoinNo} +')'"></td>
							<td id="price" th:text=${reverseBiddingJoinList.suggestPrice}></td>
							<td th:text=${reverseBiddingJoinList.member.nickname}></td>
							<td th:if="${#authentication.principal.username == reverseBidding.member.email && reverseBidding.ReversebidAuctionStatus.toString().equals('PROGRESS')}" 
								onclick="pushReverse(this)" th:data-memberid="${reverseBidding.member.memberId}" th:data-reversebiddingno="${reverseBidding.reverseBiddingNo}">낙찰하기</td>
						</tr>
					</table>
				</div>
				<div class="d-flex justify-content-center">
				<nav
                    th:with="start=${(reverseBiddingJoinList.number/maxPage)*maxPage + 1}
			                 ,end=(${(reverseBiddingJoinList.totalPages == 0) ? 1 : (start + (maxPage - 1) < reverseBiddingJoinList.totalPages ? start + (maxPage - 1) : reverseBiddingJoinList.totalPages)})"
                    aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item" th:classappend="${reverseBiddingJoinList.first}?'disabled'">
                        <a class="page-link"
                           th:onclick="'javascript:page(' + ${reverseBiddingJoinList.number - 1} +')'">이전</a>
                    </li>

                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(start, end)}"
                        th:classappend="${reverseBiddingJoinList.number eq page-1}?'active':''">
                        <a
                                class="page-link" th:inline="text"
                                th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${reverseBiddingJoinList.last}?'disabled'">
                        <a class="page-link"
                           th:onclick="'javascript:page(' + ${reverseBiddingJoinList.number + 1} +')'">다음</a>
                    </li>
                </ul>
            </nav>
				</div>
			</div>

		</div>

	</div>

	<div class="form-group">
		<div class="join">
			<button th:if="${#authentication.principal.username != reverseBidding.member.email}" type="submit" class="btn btn-primary mb-3"

				style="background-color: #355808; opacity:63%; width: 150px;" th:onclick="'javascript:moveDetail(' + ${reverseBidding.reverseBiddingNo} +')'">

				참가신청</button>
		</div>
	</div>
</div>








<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	 var reverseBidding = [[${reverseBidding.reverseBiddingNo}]];
	
	 function page(page) {
	        //입력한 값을 전부 가지고 온다.

	        //주소 이동
	        location.href = "/auction/reversebid/detail/" + reverseBidding + "/" + page;
	    }
	
	 function moveDetail(reverseBiddingNo) {
	        location.href='/auction/reversebid/enter/add/' + reverseBiddingNo;
	    }
	 
	 function moveEnterDetail(reverseBiddingNo) {
	        location.href='/auction/reversebid/enter/' + reverseBiddingNo;	   	        
	 
	 }
	 function loadPage(pageNumber) {
	        $.ajax({
	            url: '/auction/reversebid/detail/' + [[${reverseBiddingNo}]] + '/' + pageNumber,
	            type: 'GET',
	            success: function(response) {
	                $('#reviewModal .modal-body').html($(response).find('.modal-body').html());
	            }
	        });
	    }
	 
	 function pushReverse(heartIcon) {
		 /*
		  색있는 하트: <i class="fa-solid fa-heart"></i>
          빈 하트: <i class="fa-regular fa-heart"></i>
		 */
        var memberId = heartIcon.getAttribute('data-memberid');
        var reverseBiddingNo = heartIcon.getAttribute('data-reversebiddingno');
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var url =  "/addReverseBidding"; //삼항연산자
        var method = "POST";
        var bidStatus = "PENDING";

        
        $.ajax({
            url: url,
            type: method,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            data: JSON.stringify({ reverseBiddingNo: reverseBiddingNo }),
            contentType: "application/json",
            success: function(result) {
                // 요청 성공 처리
                console.log("낙찰 성공");
                // 찜 상태 토글
                window.location.reload(true);
            },
            error: function(jqXHR, status, error) {
                // 오류 처리
                console.log(jqXHR.responseText);
                alert("에러가 발생했습니다. 다시 시도해 주세요.");
               
            }
        });
        
    }
	 
	
	 
	 
	</script>
</th:block>

</html>