<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <!-- 배너 섹션 -->
    <section class="py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="banner-blocks">

                        <div class="banner-ad large bg-info block-1">

                            <div class="swiper main-swiper">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories mb-3 pb-3">100% natural</div>
                                                <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim
                                                    massa diam elementum.</p>
                                                <a href="#"
                                                   class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">shop
                                                    collection</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="images/product-thumb-1.png" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories mb-3 pb-3">100% natural</div>
                                                <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim
                                                    massa diam elementum.</p>
                                                <a href="#"
                                                   class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">shop
                                                    collection</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="images/product-thumb-1.png" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="row banner-content p-5">
                                            <div class="content-wrapper col-md-7">
                                                <div class="categories mb-3 pb-3">100% natural</div>
                                                <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim
                                                    massa diam elementum.</p>
                                                <a href="#"
                                                   class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">shop
                                                    collection</a>
                                            </div>
                                            <div class="img-wrapper col-md-5">
                                                <img src="images/product-thumb-2.png" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                            </div>
                        </div>

                        <div class="banner-ad bg-success block-2"
                             style="background:url('images/ad-image-1.png') no-repeat;background-position: right bottom">
                            <div class="row banner-content p-5">

                                <div class="content-wrapper col-md-7">
                                    <div class="categories sale mb-3 pb-3">20% off</div>
                                    <h3 class="banner-title">Fruits & Vegetables</h3>
                                    <a href="#" class="d-flex align-items-center nav-link">shop collection
                                        <svg width="24" height="24">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="banner-ad bg-danger block-3"
                             style="background:url('images/ad-image-2.png') no-repeat;background-position: right bottom">
                            <div class="row banner-content p-5">

                                <div class="content-wrapper col-md-7">
                                    <div class="categories sale mb-3 pb-3">15% off</div>
                                    <h3 class="item-title">Baked Products</h3>
                                    <a href="#" class="d-flex align-items-center nav-link">shop collection
                                        <svg width="24" height="24">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- 배너 섹션 -->

    <!-- 인기 매물 Start -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="bootstrap-tabs product-tabs">
                        <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                            <h3>인기 매물</h3>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel"
                                 aria-labelledby="nav-all-tab">

                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                    <!-- Card -->
                                    <div class="col" th:each="popular:${popularList}">
                                        <div class="badge">
                                        <span th:if="${popular.auctionType.toString()} == 'PUBLIC'"
                                              th:text="공개입찰경매"></span>
                                            <span th:if="${popular.auctionType.toString()} == 'SEALED'"
                                                  th:text="비공개경매"></span>
                                            <span th:if="${popular.auctionType.toString()} == 'REALTIME'"
                                                  th:text="실시간경매"></span>
                                        </div>
                                        <a th:href="'/auction/detail/'+ ${popular.auctionNo}">
                                            <div class="product-item"
                                                 th:onclick="'javascript:moveDetail(' + ${popular.auctionNo} +')'"
                                                 style="cursor: pointer">
                                                <figure>
                                                    <a th:href="'/auction/detail/'+ ${popular.auctionNo}"
                                                       title="Product Title">
                                                        <img th:src="${popular.item.itemImgList[0].itemImageUrl}" class="tab-image">
                                                    </a>
                                                </figure>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${popular.auctionStatus.toString()} == 'PENDING'"
                                                        th:text="대기중" disabled></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${popular.auctionStatus.toString()} == 'END'"
                                                        th:text="종료"
                                                        disabled></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${popular.auctionStatus.toString()} == 'LAST'"
                                                        th:text="마감임박"></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        th:if="${popular.auctionStatus.toString()} == 'PROGRESS'"
                                                        id="btn-status" th:text="진행중"></button>

                                                <div class="d-flex justify-content-center">
                                                    <span class="time_action" th:text="${popular.remainingTime}"></span>

                                                </div>

                                                <div class="item_detail">
                                                    <h3 id="itemNameText">물건 이름 : <span
                                                            th:text="${popular.item.itemName}"></span></h3>
                                                    <h3>시작가 : <span th:text="${popular.auctionStartPrice}"></span>
                                                        <span>원</span></h3>
                                                    <h3 th:if="${popular.auctionType.toString()} != 'SEALED'">현재가 :
                                                        <span class="product-price"
                                                              th:text="${popular.auctionNowPrice}"></span>
                                                        <span>원</span></h3>
                                                    <h3>입찰수 : <span th:text="${popular.biddingCount}">0</span>
                                                        <span>회</span></h3>
                                                    <h3>마감
                                                        <span th:text="${#temporals.format(popular.auctionEndTime, 'yyyy년 MM월 dd일 HH시 mm분')}">8</span>
                                                    </h3>
                                                </div>
                                                </h3>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="input-group product-qty">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- 인기 매물 End -->

    <!-- 마감 임박 매물 Start -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="bootstrap-tabs product-tabs">
                        <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                            <h3>마감 임박 매물</h3>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel"
                                 aria-labelledby="nav-all-tab">

                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                    <!-- Card -->
                                    <div class="col" th:each="last:${lastList}">
                                        <div class="badge">
                                        <span th:if="${last.auctionType.toString()} == 'PUBLIC'"
                                              th:text="공개입찰경매"></span>
                                            <span th:if="${last.auctionType.toString()} == 'SEALED'"
                                                  th:text="비공개경매"></span>
                                            <span th:if="${last.auctionType.toString()} == 'REALTIME'"
                                                  th:text="실시간경매"></span>
                                        </div>
                                        <a th:href="'/auction/detail/'+ ${last.auctionNo}">
                                            <div class="product-item"
                                                 th:onclick="'javascript:moveDetail(' + ${last.auctionNo} +')'"
                                                 style="cursor: pointer">
                                                <figure>
                                                    <a th:href="'/auction/detail/'+ ${last.auctionNo}"
                                                       title="Product Title">
                                                        <img th:src="${last.item.itemImgList[0].itemImageUrl}" class="tab-image">
                                                    </a>
                                                </figure>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${last.auctionStatus.toString()} == 'PENDING'"
                                                        th:text="대기중" disabled></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${last.auctionStatus.toString()} == 'END'" th:text="종료"
                                                        disabled></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${last.auctionStatus.toString()} == 'LAST'"
                                                        th:text="마감임박"></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${last.auctionStatus.toString()} == 'PROGRESS'"
                                                        th:text="진행중"></button>

                                                <div class="d-flex justify-content-center">
                                                    <span class="time_action" th:text="${last.remainingTime}"></span>

                                                </div>

                                                <div class="item_detail">
                                                    <h3 id="itemNameText">물건 이름 : <span
                                                            th:text="${last.item.itemName}"></span></h3>
                                                    <h3>시작가 : <span th:text="${last.auctionStartPrice}"></span>
                                                        <span>원</span></h3>
                                                    <h3 th:if="${last.auctionType.toString()} != 'SEALED'">현재가 : <span
                                                            class="product-price"
                                                            th:text="${last.auctionNowPrice}"></span>
                                                        <span>원</span></h3>
                                                    <h3>입찰수 : <span th:text="${last.biddingCount}">0</span>
                                                        <span>회</span></h3>
                                                    <h3>마감
                                                        <span th:text="${#temporals.format(last.auctionEndTime, 'yyyy년 MM월 dd일 HH시 mm분')}">8</span>
                                                    </h3>
                                                </div>
                                                </h3>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="input-group product-qty">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- 마감 임박 매물 End -->

    <!-- 신규 매물 Start -->
    <section class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="bootstrap-tabs product-tabs">
                        <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                            <h3>신규 매물</h3>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-all" role="tabpanel"
                                 aria-labelledby="nav-all-tab">

                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                    <!-- Card -->
                                    <div class="col" th:each="newauction:${newList}">
                                        <div class="badge">
                                        <span th:if="${newauction.auctionType.toString()} == 'PUBLIC'"
                                              th:text="공개입찰경매"></span>
                                            <span th:if="${newauction.auctionType.toString()} == 'SEALED'"
                                                  th:text="비공개경매"></span>
                                            <span th:if="${newauction.auctionType.toString()} == 'REALTIME'"
                                                  th:text="실시간경매"></span>
                                        </div>
                                        <a th:href="'/auction/detail/'+ ${newauction.auctionNo}">
                                            <div class="product-item"
                                                 th:onclick="'javascript:moveDetail(' + ${newauction.auctionNo} +')'"
                                                 style="cursor: pointer">
                                                <figure>
                                                    <a th:href="'/auction/detail/'+ ${newauction.auctionNo}"
                                                       title="Product Title">
                                                        <img th:src="${newauction.item.itemImgList[0].itemImageUrl}" class="tab-image">
                                                    </a>
                                                </figure>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${newauction.auctionStatus.toString()} == 'PENDING'"
                                                        th:text="대기중" disabled></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${newauction.auctionStatus.toString()} == 'END'"
                                                        th:text="종료"
                                                        disabled></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${newauction.auctionStatus.toString()} == 'LAST'"
                                                        th:text="마감임박"></button>
                                                <button class="btn2 d-flex justify-content-center"
                                                        id="btn-status"
                                                        th:if="${newauction.auctionStatus.toString()} == 'PROGRESS'"
                                                        th:text="진행중"></button>

                                                <div class="d-flex justify-content-center">
                                                    <span class="time_action"
                                                          th:text="${newauction.remainingTime}"></span>

                                                </div>

                                                <div class="item_detail">
                                                    <h3 id="itemNameText">물건 이름 : <span
                                                            th:text="${newauction.item.itemName}"></span></h3>
                                                    <h3>시작가 : <span th:text="${newauction.auctionStartPrice}"></span>
                                                        <span>원</span></h3>
                                                    <h3 th:if="${newauction.auctionType.toString()} != 'SEALED'">현재가 :
                                                        <span class="product-price"
                                                              th:text="${newauction.auctionNowPrice}"></span>
                                                        <span>원</span></h3>
                                                    <h3>입찰수 : <span th:text="${newauction.biddingCount}">0</span>
                                                        <span>회</span></h3>
                                                    <h3>마감
                                                        <span th:text="${#temporals.format(newauction.auctionEndTime, 'yyyy년 MM월 dd일 HH시 mm분')}">8</span>
                                                    </h3>
                                                </div>
                                                </h3>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="input-group product-qty">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- 신규 매물 End -->
</div>
<!-- end s-content -->


<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let message = [[${message}]];

        if (message != null) {
            alert(message);
        }

        function moveDetail(auctionNo) {
            location.href = '/auction/detail/' + auctionNo;
        }
    </script>
</th:block>

</html>